@import url("https://fonts.googleapis.com/css2?family=Honk&display=swap");
body {
  background-color: rgb(33, 46, 61);
  font-family: "Honk", system-ui;
}
#head {
  font-size: 50px;
  padding: 10px;
  text-align: center;
}
#footer {
  position: fixed;
  top: 95vh;
  left: 45vw;
  font-size: 25px;
}
#content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}
